.singleLetterInput {
	width: 2em;
	margin: 1em;
}

.singleLetterDiv {
	display: inline-flex;
	flex-direction: column;
	margin-right: 2em;
	margin-top: 1em;
}

.multipleLettersDiv {
	display: inline-flex;
	flex-direction: column;
	margin-right: 2em;
	margin-top: 1em;
}

.wordListDiv {
	margin-right: 2em;
	margin-top: 1em;
}

.wordListElement {
	margin-top: 0.5em;
}
